### COMPARING MY DELIVERIES

In [1]:
import pandas as pd
import numpy as np
import regex as re
from numpy import nan
import seaborn as sns

In [2]:
intentos = {1: 'first_try.csv',2: 'regression.csv',
            3: 'third_try_xgb_BESTSCORE.csv',4: '4thtry_rfr_estimators=100.csv',
            5: '5thtry_xgboost_lin.csv',6: '5thtry_xgboost_tree_best.csv',
            7: '5thtry_xgboost_lin2.csv', 8: 'h2o.csv'}

In [3]:
df_0 = pd.read_csv('y_test.csv')

In [4]:
df_1 = pd.read_csv('first_try.csv')
df_2 = pd.read_csv('regression.csv')
df_3 = pd.read_csv('third_try_xgbr.csv')
df_4 = pd.read_csv('4thtry_rfr_estimators=100.csv')
df_5 = pd.read_csv('5thtry_xgboost_lin.csv')
df_6 = pd.read_csv('5thtry_xgboost_tree_best.csv')
df_7 = pd.read_csv('5thtry_xgboost_lin2.csv')
df_8 = pd.read_csv('h2o.csv')
df_9 = pd.read_csv('h2o_simplecolumns_50.8.csv')
df_10 = pd.read_csv('h2o_simplecolumns_60mod.csv')
df_11 = pd.read_csv('xgboost_simplecol.csv')
df_12 = pd.read_csv('xgboost_lin_newOUTLINER.csv')
df_13 = pd.read_csv('h2o_newoutli_40mod_43.csv')
df_14 = pd.read_csv('h2o_pd_numeric.csv')
df_15 = pd.read_csv('xgboost_lin_dummies.csv')

In [5]:
#for k,v in intentos.items():
#    df_[k] = pd.read_csv(intentos[k])

In [13]:
df_all = pd.DataFrame(df_0.price)

In [14]:
df_all['1_119.7']=df_1.price
df_all['2_140.81']=df_2.price

In [15]:
df_all['3_104.42']=df_3.price
df_all['4_107.56']=df_4.price
df_all['5_105.03']=df_5.price
df_all['6_108.98']=df_6.price
df_all['7_105.98']=df_7.price
df_all['8_hbo']=df_8.price
df_all['9_hbo_simpcol']=df_9.price
df_all['10_hbo_60mod']=df_10.price
df_all['11_XGboost_simpcol']=df_11.price
df_all['12_Lin_outlier']=df_12.price
df_all['13_h2o_40mod_newout']=df_13.price
df_all['14_h2o_pd_numeric']=df_14.price
df_all['15_Xboost_lin_dummies']=df_15.price

In [16]:
df_all

,price,1_119.7,2_140.81,3_104.42,4_107.56,5_105.03,6_108.98,7_105.98,8_hbo,9_hbo_simpcol,10_hbo_60mod,11_XGboost_simpcol,12_Lin_outlier,13_h2o_40mod_newout,14_h2o_pd_numeric,15_Xboost_lin_dummies
0,89.0,64.05,137.09,95.999115,135.88,89.74566,96.470474,91.197784,102.435533,71.337987,75.481261,91.197784,80.23464,83.616926,139.211960,84.385790
1,56.0,97.75,101.96,52.824930,94.40,213.24484,68.022670,207.291750,88.754075,96.169310,102.592204,207.291750,207.93205,124.355495,100.922186,45.458694
2,95.0,150.97,123.81,61.160330,113.92,128.34108,100.538430,128.500200,111.202660,129.552950,127.446968,128.500200,135.22365,127.203056,106.807645,133.489490
3,136.0,159.70,138.74,92.448040,117.54,83.89162,109.801200,86.651410,114.091576,114.358746,116.361826,86.651410,98.54775,117.797858,158.451372,88.644180
4,135.0,142.49,147.05,103.490585,203.74,141.13089,131.732880,140.945700,149.757515,149.391603,146.818975,140.945700,143.49153,143.084124,146.166841,163.032610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384,129.0,119.55,87.74,109.653480,133.42,108.99403,64.457565,110.009450,80.750685,75.045175,72.475838,110.009450,106.69597,81.700612,108.793765,93.586290
1385,90.0,133.20,133.75,125.674255,112.68,153.62485,120.038376,151.003750,127.411578,145.308122,142.833977,151.003750,152.78000,135.753935,133.684523,144.243010
1386,400.0,193.18,185.01,142.682920,139.60,181.82333,186.942180,177.230650,208.119937,194.472700,190.066958,177.230650,171.36671,179.021140,210.133311,195.291180
1387,139.0,123.54,117.91,174.363020,211.53,128.89778,94.592180,128.815140,103.130918,112.546839,111.983126,128.815140,135.27751,112.716247,123.963444,104.970566
1388,80.0,122.66,95.21,138.020680,136.24,154.79456,102.912000,150.784360,114.355620,136.581325,136.712327,150.784360,142.34322,132.788563,158.823547,141.383400

In [17]:
df_all.describe()

,price,1_119.7,2_140.81,3_104.42,4_107.56,5_105.03,6_108.98,7_105.98,8_hbo,9_hbo_simpcol,10_hbo_60mod,11_XGboost_simpcol,12_Lin_outlier,13_h2o_40mod_newout,14_h2o_pd_numeric,15_Xboost_lin_dummies
count,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000,1389.000000
mean,166.707703,175.975954,173.640893,146.454773,145.152268,156.861446,135.778348,153.881081,153.608779,152.105986,152.344659,153.881081,147.298094,146.458246,167.405233,165.989584
std,119.447936,85.695599,112.075243,74.702179,61.867028,53.428140,49.444578,49.599086,52.281557,49.810285,49.979685,49.599086,37.896558,37.073098,69.032335,67.519380
min,0.000000,33.750000,34.200000,-34.639893,26.210000,29.166367,1.389772,33.647120,7.045942,13.252522,10.618086,33.647120,72.148090,68.433861,58.272792,-12.976540
25%,99.000000,124.170000,117.000000,102.052720,107.220000,125.816360,97.674090,125.376170,114.091576,115.132913,114.541640,125.376170,127.182630,117.845048,122.989909,126.528780
50%,140.000000,157.220000,155.500000,130.804050,128.900000,147.709920,128.581740,145.941440,148.094342,147.771491,149.593776,145.941440,143.009080,147.706156,150.774990,160.016340
75%,199.000000,206.480000,202.470000,171.011220,162.900000,192.968120,171.269650,187.568000,193.307131,189.363799,190.849997,187.568000,171.435560,176.123895,198.803125,202.269230
max,1880.000000,1176.490000,2497.570000,714.144000,564.110000,541.613040,298.908660,506.752260,327.372068,307.747026,312.507746,506.752260,404.532400,243.113022,604.832394,606.673770